<!--
  <div class="swiper-container" #swiper>
  <div class="swiper-wrapper">
      <div class="swiper-slide">

          <img src="../../assets/img/tenis_1.jpeg" alt="Imagen 1">
      </div>
      <div class="swiper-slide">

          <img src="../../assets/img/tenis_2.jpeg" alt="Imagen 2">
      </div>

  </div>

  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

<swiper-container  class="swiper-slide h-100" loop="true" [autoplay]="{delay: 1000}">
      <swiper-slide *ngFor="let img of slider_images" class="h-1/2" >
        <img [src]="img" class="w-full ">
      </swiper-slide>

</swiper-container>



-->
<div class="swiper-container mx-auto hidden sm:block ">
  <div class="swiper-wrapper">

  </div>

</div>

